@import url("https://fonts.googleapis.com/css2?family=Castoro&family=Open+Sans&display=swap");

/* header {
  position: fixed;
  background: rgb(255, 255, 255);
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  height: 100px;
  border-bottom: 4px solid green;
  color: #000;
} */

header {
    background-color: #000;
    height: 99px;
    width: 100%;
}

header a {
    float: left;
}

nav {
  float: left;
  padding: 5px;
}

nav ul {
  list-style: none;
  padding: 0;
}

nav ul li {
  display: inline-block;
  padding: 20px;
  box-sizing: border-box;
}

nav ul li a {
  text-decoration: none;
  color: white;
}

.search {
    padding-top: 40px;
}

.searchglass {
    height: 20px;
    width: 20px;
    background-color:red;
    margin-left: 613px;
    margin-top: -21px;
}

.search-pic {
    height: 10px;
    width: 10px;
    margin-left: 5px;
    g color="green";
}

.ecom {
    color: white;
    float: right;
    margin-top: -40px;
    margin-right: 15px;
    width: 300px;
}

.ecom a {
    color: white;
    text-decoration: none;
}

.carttext {
    float: right;
    margin-top: 10px;
}

.toptext {
    float: right;
}

.cartsvg {
    height: 15px;
    width: 22px;
    filter: invert(100%);
}


/* #menu-icon {
  display: hidden;
  width: 40px;
  height: 40px;
  background: url(https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcTk7z6qSJdV8wmm0xwR4nrK5OPwhOfXJPqzrIG3ynOlOoGHyc4PSyrvpQ)
    center;
  background-size: contain;
} */

/* @media only screen and (max-width: 768px) {
  header {
    position: absolute;
    border-bottom: 4px solid red;
  }

  a,
  a:active,
  a:visited {
    color: white;
  }

  #menu-icon {
    display: inline-block;
  }

  nav ul,
  nav:active ul {
    display: none;
    position: absolute;
    background: #fff;
    right: 0;
    border: 5px solid #000;
    width: 100%;
  }

  nav li:last-of-type {
    border-bottom: 0px;
  }

  nav ul li {
    text-align: center;
    width: 100%;
    margin: 0;
    padding: 20px 0 20px 0;
    background-color: red;
    border-bottom: 1px solid #fff;
  }

  nav:hover ul {
    display: block;
  } */
}
footer {
  text-align: left;
  list-style: none;
}
